body
{

  margin: 10px 50px 30px 50px;

}

ul {
    clear: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}
.navBar
{
  clear: both;
  position:absolute;
  top: 365px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.headerDiv
{
 background-color: #160321;
 width: 100%;
 left: 20px;
 top: 100px;
 height: 400px;



}
.headerDiv li
{
  padding-left: 20px;
}
.headerImage
{

position:  absolute;
  width: 70%;
   top: 20px;
   right: 80px;


}

.contentDiv
{
  float: left;
  border: 2px solid black;


}
.topText {
  width: 30%;
  left: 30%;
  height: 500px;
  float: left;
  margin-left: 10%;
}
#meetingDates
{
  float: left;

  margin-left: 10%;
  left: 30%;
  width: 70%;
  height:20%;
  font-size: 150%;
}
#seeFutureDates
{
  clear: both;
  margin-left: 10%;
  width: 70%;

}
seeFutureDates:hover
{
  cursor: pointer;
}
#futureDates
{
  display: none;
  left: 30%;
  margin-left: 10%;
  width: 70%;

}
.mapcontainer
{
  clear: left;
  width: 30%;
  height: 200px;
}
.finalText
{
  float: left;
}
.monkeyParkFaceBookContainer
{
  float: left;
  margin-left: 10%;
}
.image1{
  float: left;
  margin-top: 2%;
  width: 20%;
  height: 500px;
  margin-left: 10px;
  border: 2px solid black;
}
.kidsCodingImage
{
  width: 100%;
  height: 100%;

}
